
02. Cost optimization/.ipynb_checkpoints/Cost Optimization using Gradient Descent and Newton's method-checkpoint.ipynb
02. Cost optimization/.ipynb_checkpoints/Gradient descent vs Least Square fit-checkpoint.ipynb
03. Backpropagation/Curve fitting/.ipynb_checkpoints/Curve fitting-checkpoint.ipynb
03. Backpropagation/MNIST classification/.ipynb_checkpoints/MNIST classification using backpropagation algorithm-checkpoint.ipynb
